*{
    box-sizing: unset;
}

.card{
    width: 100%;
}
.p-paginator-pages{
    display: flex;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    
    display: contents;
}
.p-input-icon-left, .p-input-icon-right {
    position: relative;
    display: flex;

}
.p-datatable .p-datatable-header {
    background: #2B2C40;
    border-bottom: 1px solid #d0d0ea2e;
    border-top: none;
}

.p-inputtext {
    color: #DBDBEB;
    background: #2B2C40;
    border: 1px solid #d0d0ea2e !important;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.1rem #696CFF;
    border-color: #696CFF;
}
.p-inputtext:hover{
    border-color: #696CFF !important;
}
.p-datatable .p-datatable-thead > tr > th {
    color: #ffff;
    background-color: #2B2C40;
    border: none;
}
.p-datatable .p-datatable-tbody > tr > td {
    border-bottom: 1px solid #d0d0ea2e;
    cursor: pointer;
}
.p-datatable .p-datatable-tbody > tr > td:hover {
    border-bottom: 1px solid #696CFF;
    background-color: #2B2E4F;
	color: #696CFF;
}

.p-datatable .p-datatable-tbody > tr {
    color: #ffff;
    background-color: #2B2C40;
    border: none !important;
}

.p-paginator {
    color: #ffff;
    background-color: #2B2C40;
    border: none;
}
.p-multiselect-label-container {
    color: #DBDBEB;
    background: #2B2C40;
}
.p-multiselect .p-multiselect-trigger {
    color: #DBDBEB;
    background: #2B2C40;
}
.p-multiselect {
     border: 1px solid #40404fd1 !important
}
.p-multiselect:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.1rem #696CFF;
    border-color: #696CFF;
}
.p-multiselect:hover{
    border-color: #696CFF !important;
}
.p-multiselect-panel .p-multiselect-header {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #40404fd1 !important;
    color: #DBDBEB;
    background: #2B2C40;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-multiselect-panel {
    color: #DBDBEB;
    background: #2B2C40;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: #2B2E4F;
	color: #696CFF;
}
.p-dropdown {
    color: #DBDBEB;
    background: #2B2C40;
    border: 1px solid #40404fd1 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}
.p-dropdown-panel {
    color: #DBDBEB;
    background: #2B2C40;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: #2B2E4F;
	color: #696CFF;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border:none;
    background-color: #2B2E4F;
	color: #696CFF;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight:hover {
    border:none;
    background-color: #2B2E4F;
	color: #696CFF;
}

.p-datatable .p-datatable-tbody > tr > td {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.red-button{
    background-color: red;
}

.green-button{
    background-color: #adff2fb0;
}
.view-button{
    background-color: #696CFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;

}

.update-button{
    background-color: green;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;

}

.admin-booking-button-container{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.admin-booking-button{
    width: fit-content!important;
    color: #9696b2;
    background-color: #32475c00;
    border: 1px solid #9696b2;
}

.admin-booking-button:hover{
    color: #fff;
    background-color: #696CFF;
    border: 1px solid #9696b2;
}

.booking-active{
    color: #fff;
    background-color: #696CFF;
    border: 1px solid #696CFF;
}