.profile-image-card-container{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 15%);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
}

.guide-cover-image-container{
    width: 100%;
    height: 400px;
}

.guide-cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.guide-avatar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    height: 100px;
}

.guide-avatar{
    height: 130px;
    width: 130px;
    border-radius: 6px;
    position: relative;
    top: -50px;
    left: 40px
}

.guide-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 5px solid #ffff;
}

.profile-edit-btn-container{
    width: 100px;
    position: relative;
    bottom: -20px;
}