

/* hide scrollbar for Chrome, Safari and Opera */
.Form-Container::-webkit-scrollbar {
  display: none!important;
}

.Form-Container {
    background-color: #2b2c40;
    color: #DBDBEB;;
    padding: 20px;
    flex: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 15%);
    margin-top: 2vh;
    height: 85vh;
    align-items: flex-start;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    scrollbar-width: none!important; /* hide scrollbar for Firefox */
    -ms-overflow-style: none!important; /* hide scrollbar for Internet Explorer and Edge */
  }

  .heading-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form-Heading{
    font-size: larger;
    color: #696CFF;
  }
