/* NX = not expanded */

/* .side-nav-container {
	background-color:#2B2C40;
	width: 300px;
	height: 100vh;
	position: absolute;
	color: #DBDBEB;
	transition: 0.4s;
} */

.side-nav-container {
	position: relative;
  	flex: 1 0 auto;
	height: calc(100% - 6vh);
	width: 250px;
	background-color:#2B2C40;
	color: #DBDBEB;
	transition: 0.4s;
	margin-top: 3vh;
}

.side-nav-container-NX {
	width: 85px;
	/* display: none; */
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
	/* border: 2px solid white; */
	display: grid;
}

.username{
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	text-transform: uppercase;
	
}

.nav-heading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 75px;
	align-items: center;
	padding-left: 2vw;
}

.nav-brand {
	display: flex;
	color: #dbdbeba0;
}
.nav-brand img {
	width: 43px;
	padding: 0 10px;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: #dbdbeba0;
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}

.hamburger:hover span {
	background-color: #696CFF;
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger-out {
	margin-left: 24px;
}
.hamburger-out:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger-out:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-out:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
	grid-template-rows: repeat(7, 1fr);
	margin-top: 50px;
}

.menu-item {
	height: 57px;
	display: flex;
	color: #dbdbeba0;;
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 20px;
	border-radius: 10px;
	cursor: pointer;
	align-items: center;
}

.menu-item-active {
	/* margin: auto; */
	
	background-color: #2B2E4F;
	color: #696CFF;
	cursor: pointer;
}
.menu-item:hover {
	background-color: #2B2E4F;
	color: #696CFF;
	cursor: pointer;
}
.menu-item img {
	width: 30px;
	padding: 0 20px;
}
.menu-item-text{
	margin-top: none!important;
}
.nav-footer {
	width: 100%;
	height: fit-content;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}

.nav-details {
	display: flex;
}
.nav-details img {
	width: 50px;
	padding: 0 20px;
}

.nav-footer-user-name {
	font-size: 18px;
	font-weight: 900;
}

.nav-footer-user-position {
	margin-top: -15px;
	color: var(--gray);
}
.logout-icon {
	width: 30px;
	margin: auto;
	border-radius: 90px;
	padding: 20px;
	margin-left: 5px;
}
.logout-icon:hover {
	background-color: var(--primary);
}