.navbar{
    background-color: #fff5f2;
    position: sticky!important;
    top: 0;
    z-index: 1;
}

.navbar-destination{
    background-color: transparent!important;
}
.nav-container{
    margin-left: 2vw!important;
    margin-right: 2vw!important;
    max-width: 100%!important;
}

.nav-button{
    margin-left: 1.2vw;
    background-color: #fff!important;
    color: #AA0D57!important;
    height: 2rem;
    line-height: 2rem!important;
    padding: 0 0.5rem!important;
    border-radius: 0.5rem!important;
    text-decoration: none;
    font-weight: 500!important;
    font-size: small!important;
    display: block!important;
    border-color: #AA0D57!important;
    width: fit-content!important;
}

.nav-button-destination{
    background-color: #AA0D57!important;
    color: #fff!important;
}

.nav-button:hover{
    background-color: #AA0D57!important;
    color: #fff!important;
}
.navbar-text{
    color: #AA0D57!important;
    cursor: pointer;
    font-weight: 500!important;
}

.navbar-text-destination{
    color: #fff!important;
}

.navbar-text:hover{
    text-decoration: underline;
}

.navbar-brand {
    cursor: pointer;
}

.dropdown-toggle{
    position: absolute;
    top: -43px;
    right: 2px;
    opacity: 0;
}

.dropdown-menu {
    left: -89px!important;
    background-color: rgb(255 245 242)!important;
}

.dropdown-item:hover{
    background-color: #AA0D57!important;
    color: #fff!important;
}

.logout-dropdown{
    color: #AA0D57!important;
}